html {
    background: transparent !important;
}

body {
    background: transparent !important;
}

#mainContainer {
    width: 95%;
    height: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.3) !important;
}

#logoContainer {
    width: 95%;
    height: 50%;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}