body {
    background: url(../images/BigBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainContainer {
    position: absolute;
    bottom: 80px;
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

  .loading-container
{
    z-index: 5;
    color: #fff;
    font-family: Arial;
}

.loading-labels
{
    width: 100%;
    height: 20px;
    margin-left: 2px;
    margin-right: 3px;
    margin-top: 5px;
    margin-bottom: 12px;
    padding: 1px;
    text-align: center;
    position: relative;
    display: inline;
    white-space: nowrap;
}

.loading-labels div
{
    display: none;
    text-align: left;
    font-size: 20px;
    
    
    /*text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;  */
}

.loading-bar-container
{
    width: 100%;
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 1px;
    margin-bottom: 0px;

    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    background-color: #1a1a1a;

    border-radius: 6px;
    padding: 2px;
    text-align: left;
    overflow: hidden;


    white-space: nowrap;
}

.loading-bar
{
    width: 0%;
    height: 14px;
    border-radius: 3px;

    background-size: 30px 30px;      
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;

    display: none;

    transition: width 0.3s;
    transition-timing-function: ease-out;
}

.bgcolor-first 
{
    background-color: #D95B43;
}

.bgcolor-second 
{
    background-color: #C02942;
}

.bgcolor-third 
{
    background-color: #542437;
}

.bgcolor-fourth 
{
    background-color: #53777A;
}


.color-first 
{
    color: #D95B43;
}

.color-second 
{
    color: #C02942;
}

.color-third 
{
    color: #bd517c;
}

.color-fourth 
{
    color: #53777A;
}


@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}