#storeinstall-container {
    .appStoreContainer {
        width: 100%;
        height:100%;
        background-color: #ffffff;
        border-radius: 5px;
        border: #cccccc solid 1px;
        padding: 5px;
        align-content: flex-start;
        margin-bottom:5px;
        z-index: 1;
        
        #storeContainer2 {
            height: 0%;
            overflow: hidden;

            .preloader-wrapper {
                margin-top:30px;
                margin-bottom:30px;
            }
            
        
            .infoSetInstall {
                margin-top:30px;
                margin-bottom:30px;
                width: 100%;
                text-align: center;
        
                    .app-button {
                        height: 120px;
                        width: 120px;
                        margin:auto;

                        .app-icon {
                            height: 120px;
                            width: 120px;
                            font-size: 60px;
                            border-radius: 10px;
                            color: $primary;
                            text-shadow: 0 0 10px #000000;
            
                            i {
                                text-align: center;
                                vertical-align: middle;
                                line-height: 120px;
                                font-size: 60px;
                            }
            
                        }
            
                        &:hover {
                            .app-icon {
                                transition: filter ease-in 0.15s;
                                filter: brightness(85%);
                            }
                        }
                }
            }
        
            .actionCompleteStire {
                margin-top:20px;
                width: 100%;
                text-align: center;
                justify-content: flex-start;
            }

            .btn {
                background-color: color('green', 'darken-1');
            }
        }
    }

}

#store-container {
    background: $background;
    z-index: 1;

    #storeContainer {
        height: 0%;
        overflow: hidden;

        .store-tabs {
            z-index: 1;
            overflow-x: hidden;
        }

        .padthefucker {
            padding: 10px;
        }

        #store, #jobApps, #installed {
            margin-top:5px;
            
            .noAppsFounds {
                width: 100%;
                text-align: center;
                background-color: #ffffff;
                border-radius: 5px;
                border: #cccccc solid 1px;
                padding:10px;
            }

            .appStoreContainer {
                width: 100%;
                background-color: #ffffff;
                border-radius: 5px;
                border: #cccccc solid 1px;
                height: fit-content;
                padding: 5px;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                flex-flow: wrap;
                align-content: flex-start;
                margin-bottom:5px;

                .appStoreIcon {
                    height: fit-content;
                    width: 80px;
                    text-align: center;
                    color: $primary;

                    .app-button {
                        .app-icon {
                            height: 60px;
                            width: 60px;
                            font-size: 30px;
                            margin: 10px;
                            border-radius: 10px;
                            color: $primary;
                            text-shadow: 0 0 10px #000000;
            
                            i {
                                text-align: center;
                                vertical-align: middle;
                                line-height: 60px;
                            }
            
                            .badge {
                                font-size: 10px;
                                float: left;
                                line-height: 20px;
                                margin-left: 10px;
                                margin-right: 10px;
                                margin-top: 10px;
                                height: 20px;
                                width: 20px;
                                border-radius: 70px;
                                text-align: center;
                                color: $primary;
                                font-weight: bold;
                                position: relative;
                                top: -40%;
                                left: 55%;
                                background: color('red', 'accent-4');
                                -webkit-transform: translate(0%, 0%);
                                transform: translate(0%, 0%);
                            }
                        }
            
                        &:hover {
                            .app-icon {
                                transition: filter ease-in 0.15s;
                                filter: brightness(85%);
                            }
                        }
                    }
                }
                
                .appStoreInfo {
                    width: 55%;
                    display: inline;
                    padding: 5px;
                }
                
                .appStoreInstaller {
                    width: 17%;
                    text-align: right;
                    height:60px;
                    line-height: 60px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 20px;
                    
                    .appStoreInnerButton {
                        width:100%;
                        text-align: right;
                        
                        .btn {
                            text-align: right;
                            vertical-align: middle;
                        }

                        .install { 
                            background-color: color('blue', 'darken-2');
                        }

                        .delete {
                            background-color: color('red', 'darken-2');
                        }
                        
                        
                    }
                    
                }
            }

        }
    }
} 
